# Divide un file CSV in due file CSV

In [1]:
import pandas as pd

In [2]:
# Training Set Fraction
TS_FRAC = 0.8

In [3]:
# Load into a DataFrame
df = pd.read_csv('appointment_data.csv')

df # Show the data

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,No,1.328492e+12,5687610,F,2016-05-11T16:00:16Z,2016-05-19T00:00:00Z,25,MATA DA PRAIA,0,0,0,0,0,0
1,No,3.881869e+14,5694484,M,2016-05-13T08:41:27Z,2016-05-17T00:00:00Z,62,FRADINHOS,0,0,0,0,0,0
2,Yes,9.118992e+12,5500939,F,2016-03-22T11:09:38Z,2016-05-09T00:00:00Z,65,JARDIM CAMBURI,0,0,0,0,0,0
3,No,1.843618e+14,5639080,M,2016-04-29T08:42:15Z,2016-04-29T00:00:00Z,41,MARIA ORTIZ,0,0,0,0,0,0
4,No,5.783198e+13,5671566,M,2016-05-06T18:47:52Z,2016-05-09T00:00:00Z,61,MARUÍPE,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88416,No,4.876245e+11,5664593,F,2016-05-05T12:58:06Z,2016-05-10T00:00:00Z,63,SÃO PEDRO,0,1,1,0,0,1
88417,No,3.911649e+12,5622779,M,2016-04-26T13:03:23Z,2016-06-01T00:00:00Z,31,MARIA ORTIZ,0,0,0,0,0,0
88418,No,4.973443e+11,5762864,F,2016-06-02T08:16:03Z,2016-06-08T00:00:00Z,38,ANDORINHAS,0,0,0,0,0,0
88419,No,2.623493e+14,5639951,F,2016-04-29T09:52:19Z,2016-04-29T00:00:00Z,18,MARUÍPE,1,0,0,0,0,0
88420,No,1.821131e+14,5637593,M,2016-04-29T07:10:42Z,2016-05-11T00:00:00Z,9,ILHA DO PRÍNCIPE,1,0,0,0,0,1

In [4]:
# Shuffle data
df = df.sample(frac=1, random_state=42).reset_index(drop=True) # Don't panic

df # Show after shuffling

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,No,4.952644e+12,5623073,F,2016-04-26T13:30:37Z,2016-06-02T00:00:00Z,37,MARIA ORTIZ,0,0,0,0,0,1
1,No,4.554548e+12,5706309,M,2016-05-17T08:07:58Z,2016-06-08T00:00:00Z,7,GURIGICA,0,0,0,0,0,1
2,Yes,4.947944e+14,5683575,F,2016-05-11T07:39:04Z,2016-05-13T00:00:00Z,54,CARATOÍRA,0,1,0,0,0,0
3,Yes,6.173362e+10,5601630,M,2016-04-19T13:23:27Z,2016-05-11T00:00:00Z,30,ITARARÉ,0,0,0,0,0,1
4,Yes,4.685218e+13,5637343,M,2016-04-28T18:54:43Z,2016-05-05T00:00:00Z,36,DA PENHA,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88416,No,9.382262e+12,5706568,M,2016-05-17T08:31:17Z,2016-05-18T00:00:00Z,89,ITARARÉ,0,1,0,0,0,0
88417,Yes,4.276380e+12,5557586,F,2016-04-07T14:43:23Z,2016-05-06T00:00:00Z,40,RESISTÊNCIA,1,0,0,0,0,1
88418,No,1.719487e+11,5705220,F,2016-05-17T06:56:39Z,2016-05-18T00:00:00Z,47,JARDIM DA PENHA,0,0,0,0,0,0
88419,No,1.156428e+13,5676714,F,2016-05-09T16:19:05Z,2016-05-11T00:00:00Z,58,MARIA ORTIZ,0,0,0,0,0,0
88420,No,8.198337e+14,5659135,F,2016-05-04T13:13:37Z,2016-05-10T00:00:00Z,38,BELA VISTA,0,1,1,0,0,1

In [5]:
# Total rows
nrows = df.shape[0]

In [6]:
# Training set size
trows = round(nrows * TS_FRAC)

In [7]:
# Save Training Set
df.iloc[:trows].to_csv('train.csv', index=False)

In [8]:
# Save Test Set
df.iloc[trows:].to_csv('test.csv', index=False)

In [9]:
# Test reload Training
pd.read_csv('train.csv')

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,No,4.952644e+12,5623073,F,2016-04-26T13:30:37Z,2016-06-02T00:00:00Z,37,MARIA ORTIZ,0,0,0,0,0,1
1,No,4.554548e+12,5706309,M,2016-05-17T08:07:58Z,2016-06-08T00:00:00Z,7,GURIGICA,0,0,0,0,0,1
2,Yes,4.947944e+14,5683575,F,2016-05-11T07:39:04Z,2016-05-13T00:00:00Z,54,CARATOÍRA,0,1,0,0,0,0
3,Yes,6.173362e+10,5601630,M,2016-04-19T13:23:27Z,2016-05-11T00:00:00Z,30,ITARARÉ,0,0,0,0,0,1
4,Yes,4.685218e+13,5637343,M,2016-04-28T18:54:43Z,2016-05-05T00:00:00Z,36,DA PENHA,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70732,No,2.274979e+11,5637742,M,2016-04-29T07:20:46Z,2016-04-29T00:00:00Z,36,RESISTÊNCIA,0,0,0,0,0,0
70733,No,7.121343e+11,5703714,M,2016-05-16T14:19:14Z,2016-05-17T00:00:00Z,75,JARDIM CAMBURI,0,0,0,0,0,0
70734,Yes,6.548658e+13,5419687,F,2016-03-02T09:23:07Z,2016-05-03T00:00:00Z,39,JESUS DE NAZARETH,0,0,0,0,0,1
70735,No,8.321622e+13,5668575,F,2016-05-06T09:21:16Z,2016-05-13T00:00:00Z,61,JARDIM DA PENHA,0,0,0,0,0,0
70736,No,7.278595e+14,5669717,M,2016-05-06T11:28:33Z,2016-05-09T00:00:00Z,71,JARDIM CAMBURI,0,0,0,0,0,0

In [10]:
# Test
pd.read_csv('test.csv')

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,Yes,1.419571e+10,5665834,M,2016-05-05T15:24:34Z,2016-05-11T00:00:00Z,33,ILHA DAS CAIEIRAS,0,0,0,0,0,1
1,No,4.461630e+11,5650518,M,2016-05-03T07:50:57Z,2016-05-06T00:00:00Z,30,SÃO PEDRO,0,0,0,0,0,1
2,Yes,3.785543e+12,5693073,M,2016-05-12T17:30:39Z,2016-05-25T00:00:00Z,40,PRAIA DO CANTO,0,0,1,0,0,1
3,No,9.686578e+13,5753477,M,2016-05-31T14:09:25Z,2016-05-31T00:00:00Z,22,ROMÃO,0,0,0,0,0,0
4,No,6.875175e+12,5644059,F,2016-05-02T08:12:08Z,2016-05-02T00:00:00Z,34,SANTA LUÍZA,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17679,No,9.382262e+12,5706568,M,2016-05-17T08:31:17Z,2016-05-18T00:00:00Z,89,ITARARÉ,0,1,0,0,0,0
17680,Yes,4.276380e+12,5557586,F,2016-04-07T14:43:23Z,2016-05-06T00:00:00Z,40,RESISTÊNCIA,1,0,0,0,0,1
17681,No,1.719487e+11,5705220,F,2016-05-17T06:56:39Z,2016-05-18T00:00:00Z,47,JARDIM DA PENHA,0,0,0,0,0,0
17682,No,1.156428e+13,5676714,F,2016-05-09T16:19:05Z,2016-05-11T00:00:00Z,58,MARIA ORTIZ,0,0,0,0,0,0
17683,No,8.198337e+14,5659135,F,2016-05-04T13:13:37Z,2016-05-10T00:00:00Z,38,BELA VISTA,0,1,1,0,0,1